#Account configuration description information

# Config BOT and account
account:
  # Account for monitoring channel information
  api_id: '1400003'
  api_hash: 'd11xxxxx112a7e059e831'
  phone : '+86190000010'
  username : 'cliasaxxxev'

  #bot token for sending messages
  bot_token : '1000007:AAHNh8axxxxxxxxxxxxxxxxHA'
  bot_username: 'keyxxxxxrt_bot' # Same parameter as bot_name

#LOG
logger:
  path: null # e.g. /root/absolute-path/default null: {_current_path}/logs/
  level: INFO # FATAL,ERROR,WARN,INFO,DEBUG,NOTSET

# acting
proxy:
  type: SOCKS5 # e.g. SOCKS4, SOCKS5, HTTP
address: null # e.g. 127.0.0.1
  port: null # e.g. 1088


# Automatically leave groups/channels (for groups/channels without valid subscription records)
auto_leave_channel: false


# Message deduplication rules
  #SUBSCRIBE_ID: Default rule to remove duplicates based on subscription
  # MESSAGE_ID: Remove duplicates by message ID (if the message hits multiple subscriptions at the same time, only the first subscription reminder will be returned)
msg_unique_rule: SUBSCRIBE_ID # default SUBSCRIBE_ID

#Non-public services
# This bot only serves specified users
private_service: false
authorized_users:
  -123456789
  -987654321

# Disable listening to messages sent by robots (group only)
# For example, some groups have automatic reply robots that reply to repeated messages; or some advertising robots start to swipe the screen after joining the group.
block_bot_msg: false # default allow